.icon-blank {
    background: url('icons/blank.gif') no-repeat center center;
}

.icon-add {
    background: url('icons/edit_add.png') no-repeat center center;
}

.icon-edit {
    background: url('icons/pencil.png') no-repeat center center;
}

.icon-remove {
    background: url('icons/edit_remove.png') no-repeat center center;
}

.icon-save {
    background: url('icons/filesave.png') no-repeat center center;
}

.icon-cut {
    background: url('icons/cut.png') no-repeat center center;
}

.icon-ok {
    background: url('icons/ok.png') no-repeat center center;
}

.icon-no {
    background: url('icons/no.png') no-repeat center center;
}

.icon-cancel {
    background: url('icons/cancel.png') no-repeat center center;
}

.icon-reload {
    background: url('icons/reload.png') no-repeat center center;
}

.icon-search {
    background: url('icons/search.png') no-repeat center center;
}

.icon-print {
    background: url('icons/print.png') no-repeat center center;
}

.icon-help {
    background: url('icons/help.png') no-repeat center center;
}

.icon-undo {
    background: url('icons/undo.png') no-repeat center center;
}

.icon-redo {
    background: url('icons/redo.png') no-repeat center center;
}

.icon-back {
    background: url('icons/back.png') no-repeat center center;
}

.icon-sum {
    background: url('icons/sum.png') no-repeat center center;
}

.icon-tip {
    background: url('icons/tip.png') no-repeat center center;
}

.icon-group {
    background: url('icons/group.png') no-repeat center center;
}

.icon-mini-add {
    background: url('icons/mini_add.png') no-repeat center center;
}

.icon-news_add {
    background: url('icons/news_add.png') no-repeat center center;
}

.icon-mini-refresh {
    background: url('icons/mini_refresh.png') no-repeat center center;
}

.icon-news_edit {
    background: url('icons/news_edit.png') no-repeat center center;
}

.icon-news_delete {
    background: url('icons/news_delete.png') no-repeat center center;
}

.icon-news {
    background: url('icons/news.png') no-repeat center center;
}

.icon-fit {
    background: url('icons/fit.png') no-repeat center center;
}

.icon-sel_all {
    background: url('icons/sel_all.png') no-repeat center center;
}

.icon-cancel_all {
    background: url('icons/cancel_all.png') no-repeat center center;
}

.icon-excel {
    background: url('icons/excel.png') no-repeat center center;
}

.icon-view {
    background: url('icons/view.png') no-repeat center center;
}

.icon-attached {
    background: url('icons/attached.png') no-repeat center center;
}

.icon-zhuanfa {
    background: url('icons/zhuanfa.png') no-repeat center center;
}

.icon-down {
    background: url('icons/Down.png') no-repeat center center;
}

.icon-up {
    background: url('icons/Up.png') no-repeat center center;
}
.icon-clear {
    background: url('icons/clear.png') no-repeat center center;
}

.icon-device {
    background: url('icons/device.png') no-repeat center center;
}

.icon-car {
    background: url('icons/car.png') no-repeat center center;
}

.icon-right {
    background: url('icons/right.png') no-repeat center center;
}

.icon-sim {
    background: url('icons/sim.png') no-repeat center center;
}

.icon-money {
    background: url('icons/money.png') no-repeat center center;
}

.icon-lessmoney {
    background: url('icons/lessmoney.png') no-repeat center center;
}

.icon-offline {
    background: url('icons/offline.png') no-repeat center center;
}

.icon-buick {
    background: url('icons/buick.png') no-repeat center center;
}

.icon-lock {
    background: url('icons/lock.png') no-repeat center center;
}

.icon-man {
    background: url('icons/man.png') no-repeat center center;
}

.icon-server {
    background: url('icons/server.png') no-repeat center center;
}

.icon-notip {
    background: url('icons/notip.png') no-repeat center center;
}

.icon-left {
    background: url('icons/left.png') no-repeat center center;
}

.icon-prev {
    background: url('icons/prev.png') no-repeat center center;
}

.icon-next {
    background: url('icons/next.png') no-repeat center center;
}

.icon-trash {
    background: url('icons/trash.png') no-repeat center center;
}
